.admin-main-container{
    position: relative;
    top: 68px;
    left: 220px;
    width: calc(100% - 220px);
    height: calc(100vh - 68px);

    transition: all 0.3s ease-in-out;
}

.admin-main-content{
    width: 100%;
    padding: 4%;
}

.sidebar-closed{
    left: 0px;  
    width: 100%;
    transition: all 0.3s ease-in-out;
}
