.admin-header{

box-sizing: border-box;

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 20px 28px;

position: absolute;
height: 68px;
left: 220px;
right: 0px;
top: 0px;

background-color: white;
border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);

transition: all 0.3s ease-in-out;

}

.sidebar-closed{
    left: 0px;  
    transition: all 0.3s ease-in-out;
}

.right-area{
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.logout{
    opacity: 40%;
    cursor: pointer;
}

.page-name{
    text-transform: capitalize;
    width: 110px;
    opacity: 40%;
    position: relative;
    margin-left: 20px;
    top: 2px;
}

.toggle-btn{
    opacity: 0.3;
}