.table-title{
    font-size: 30px;
    margin-bottom: 20px;
}

.table-filters{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.table-header{
    display: flex;
    align-items: center;
    padding: 10px 40px;
    height: 50px;
    background-color: #F9FAFB;
    border: 1px solid #EAECF0;
    border-radius: 50px 50px 0 0;
}

.header-item{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    position: relative;
    top: 2px;
}

.header-name, .header-email, .header-address{
    width: 27%;
}

.header-actions{
    width: 6%;
    margin-left: 1%;
}

.header-phone{
    width: 12%;
}

.header-item svg{
    width: 14px;
    height: 14px;
    position: relative;
    top: -1px;
    opacity: 0.4;
}

.header-actions{
    justify-content: center;
}

.checkbox-wrapper *,
  .checkbox-wrapper *::before,
  .checkbox-wrapper *::after {
  box-sizing: border-box;
  display: flex;
}

.checkbox-wrapper label {
  display: block;
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.checkbox-wrapper input {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper input:checked ~ .checkbox {
  transform: rotate(45deg);
  width: 14px;
  margin-left: 5px;
    margin-top: -5px;
  border-color: #d9d9d9;
  border-top-color: transparent;
  border-left-color: transparent;
  border-radius: 0;
}

.checkbox-wrapper .checkbox {
  display: block;
  width: inherit;
  height: inherit;
  border: 2px solid #d9d9d9;
  border-radius: 6px;
  transition: all 0.375s;
  
}

.checkbox-color{
    width: 23px;
    height: 23px;
    border-radius: 4px;
    display: flex;
    margin-top: 6px;
}

.checkbox-color1{
    background-color: #FF4040;
}

.checkbox-color2{
    background-color: #10B981;
}

.checkbox-color3{
    background-color: #FF8E0C;
}