@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Inter:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap');

body {
  margin: 0;
  font-family: Inter;
  font-weight: 300;
  color: #344054;
}

::-webkit-scrollbar {
  width: 5px;
  }
    
  ::-webkit-scrollbar-track {
  background: white;
  border:none;
  }
    
  ::-webkit-scrollbar-thumb {
  background: #cccccc;
  border:1px solid #cccccc;
  height:40px;
  border-radius:5px;
  }
    
  ::-webkit-scrollbar-thumb:hover {
  background: white;
  }
