.report-item-list{
    padding: 15px;
    background-color: #ecfdec;
    border-radius: 20px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-list{
    opacity: 0.2;
}

.report-name{
    margin-left: 20px;
    font-weight: 400;
    position: relative;
    top: 2px;
}

.Btn {
  padding: 10px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: #10B981;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition-duration: 0.3s;
}

.svgIcon {
  fill: #fff !important;
  width: 17px !important;
}

.Btn:hover {
  background-color: #fff;
  transition-duration: 0.3s;
}

.Btn:hover .svgIcon {
  fill: #10B981 !important;
  animation: slide-in-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
